{% extends "base.html.twig" %}

{% block title %}
    Lista de Cursos
{% endblock %}

{% block body %}
    <h1>Lista de Cursos</h1>

    <div class="col-sm-12">
        <a href="{{ url('task_new') }}" class="btn btn-primary" >Nova tarefa</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data</th>
            <th scope="col">Ação</th>
        </tr>
        </thead>
        <tbody>
        {% for item in task %}
        <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td></td>
            <td>
                <a href="{{ url("task_show", {id: item.id} ) }}" >Ver</a>
                <a href="{{ url("task_edit", {id: item.id} ) }}" >Atualizar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
